.Books {
  text-align: center;
  padding-bottom: 1em;
  color: white;
  background: #071e36;
}

.Title {
  background-color: rgb(8, 42, 82);
  /* margin: 1em; */
}

.BookList {
  align-items: center;
  text-align: center;
  margin: 0 auto;
  text-align: center;
}

.SingleBook {
  background-color: rgb(8, 42, 82);
  width: clamp(450px, 30%, 600px);
  align-items: center;
  text-align: center;
  border-radius: 5%;
  display: inline-block;
  vertical-align: top;
  margin-right: 2.5%;
  margin-left: 2.5%;
  margin-top: 3%;
}

.SingleBook .book-image {
  margin-top: 10% ;
  width: clamp(200px, 70%, 600px);
  height: clamp(200px, 70%, 600px);
}

.like {
  border: none;
  background: none;
}
.like:hover {
  /* background-color: red; Green */
  color: #485fc7;
  cursor: pointer;
}

.card {
  text-align: center;
}